.description {
    margin: 13px 0 2px;
    padding: 0 8px;
}

.entries {
    /* Add padding to sides and bottom, description will handle margin between these */
    padding: 8px 8px 8px;
}

.key-text {
    font-weight: bold;
}
